* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

input {
  padding: 8px;
  font: inherit;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

img {
  display: block;
  width: 350px;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  row-gap: 20px;
}

.list-item {
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.list-item:hover {
  border: 5px solid indigo;
}